@{
    ViewBag.Title = "单元订单监控";
}

<div ng-controller="mainController">
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>

                        <th>单元名称</th>
                        <th>ID</th>
                        <th>产品</th>
                        <th>物料</th>
                        <th>操作</th>

                    </tr>
                </thead>
                <tbody>


                    <tr ng-repeat="x in main.tableNodes">
                        <td>{{x.Name}}</td>
                        <td> <span class="label label-primary">{{ x.StationId }}</span></td>
                        <td> <span class="label label-info">{{ x.ProdeuctType }}</span></td>
                        <td> <span class="label label-info">{{ x.MaterielType }}</span></td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="main.pushOrder(x,'RawIn_Req')" style="margin-right:5px;">毛坯出库→单元</button>
                            <button type="button" class="btn btn-primary" ng-click="main.pushOrder(x,'EmptyIn_Req')" style="margin-right:5px;">空箱出库→单元</button>

                            <button type="button" class="btn btn-success" ng-click="main.pushOrder(x,'EmptyOut_Req')" style="margin-right:5px;">空箱回库→料库</button>
                            <button type="button" class="btn btn-success" ng-click="main.pushOrder(x,'FinOut_Req')" style="margin-right:5px;">成品回库→料库</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">订单列表 <button type="button" class="btn btn-danger" ng-click="main.clearOrder()">清除订单</button></div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>任务ID</th>
                            <th>单元ID</th>
                            <th>任务类型</th>
                            <th>AGV任务状态</th>
                            <th>料库任务状态</th>
                            <th>创建时间</th>

                        </tr>
                    </thead>
                    <tbody>


                        <tr ng-repeat="x in main.orderNodes">
                            <td>{{x.Id}}</td>
                            <td> <span class="label label-primary">{{ x.ClientId }}</span></td>
                            <td>{{ x.Type }}</td>
                            <td> <span class="label label-success">{{ x.Process }}</span></td>
                            <td> <span class="label label-success">{{ x.CarryProcess }}</span></td>
                            <td>{{ main.getTime( x.CreateDateTime) }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="row" ng-show="main.currentLog.length>0">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ main.currentLog}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">



                <div class="panel-heading">实时日志 <button type="button" class="btn btn-danger" ng-click="main.clearLog()">清除</button></div>
                <div class="panel-body" style="max-height:500px;overflow-y:auto">
                    <div ng-repeat="x in main.logNodes" class="alert alert-info alert-dismissible" role="alert" style="padding-bottom:10px;padding-top:10px;margin-bottom:5px">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{x}}
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        angular.module('todoApp', [])
            .controller('mainController', function ($scope, $timeout) {
                var main = this;
                main.tableNodes = [];
                main.logNodes = [];
                main.orderNodes = [];
                main.indexNum = 1;
                main.currentLog = '';
                main.init = function () {
                    main.client = $.connection.stationHub;
                    $(function () {
                        $.connection.hub.start().done(function () {
                            main.logNodes.push("【" + main.indexNum + "】" + moment().format("YYYY-MM-DD HH:mm:ss") + " 连接到服务器");
                            main.indexNum++;
                            main.client.server.loadAllOrder();
                            $scope.$apply();
                        });

                    });

                    main.client.client.getAllStationInfo = function (message) {
                        main.tableNodes = [];
                        for (var c in message) {
                            main.tableNodes.push(message[c]);
                        }
                        $scope.$apply();
                    };
                    main.getTime = function (time) {
                        return moment(time).format("YYYY-MM-DD HH:mm:ss");
                    };
                    main.client.client.getAgvLog = function (log) {
                        main.logNodes.push("【" + main.indexNum + "】" + log);
                        main.indexNum++;
                        $scope.$apply();

                    };
                    main.client.client.getUnitLog = function (log) {
                        main.currentLog = log;
                        $timeout(function () {
                            main.currentLog = "";
                        }, 3000);
                        $scope.$apply();
                    };
                    main.client.client.getAgvStateLog = function (node) {
                        console.log(node);
                        var isFind = false;
                        angular.forEach(main.orderNodes, function (item) {
                            if (item.Id + item.TimeId === node.Id + node.TimeId) {
                                isFind = true;
                                item.Process = node.Process;
                                item.CarryProcess = node.CarryProcess;
                            }
                        });
                        if (!isFind) {
                            main.orderNodes.push(node);
                        }
                        $scope.$apply();

                    };

                }
                main.clearLog = function () {
                    main.logNodes = [];

                };
                main.pushOrder = function (node, propName) {
                    main.client.server.sendOrder(node, propName);
                }
                main.clearOrder = function () {
                    main.client.server.clearOrder();
                    main.orderNodes = [];

                };
                main.init();
                $scope.main = main;
            });

    </script>
}